.checkBoxComlumn{
    width: 1%;
}
.checkboxRound {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

}
.checkboxRound:checked {
    background-color: #171B1C;
}

.tdSpan {
    align-self: flex-start;
    margin-left: 5px;
}